button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: fit-content;
  border: 0;
  border-radius: 0.5rem;
}

ul { 
  list-style: none;
}

a:active > button {
  position: relative;
  top: 1px;
}

.icon,
.icon > *{
  height: 24px;
}

.icon {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------ Actions ------------ */
.actions {
  display: flex;
}

.actions {
  align-items: center;
  border-left: 1px solid #edeff3;
}

.actions button {
  display: flex;
  align-items: center;
}

.actions > a.primary {
  margin: 0 1rem 0 1rem;
}

.actions a.primary > button {
  background-color: #e8f2ff;
  color: #1e86ff;
}

.actions a.menu > button {
  margin-right: 1rem;
  background-color: white;
  border: 1px solid #edeff3;
  color: #8f9cb2;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
}