ul { 
  list-style: none;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: fit-content;
  border: 0;
  border-radius: 0.5rem;
}

a:active > button {
  position: relative;
  top: 1px;
}

.icon,
.icon > *{
  height: 24px;
}

.icon {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button {
  text-decoration: none;
}
/* -------- User Navigation -------- */

@media only screen and (max-width: 1175px) {
  #user-navigation-links #user-name,
  #user-navigation-links > a.link {
    display: none;
  }
}

.link {
  width: fit-content;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e86ff;
  font-weight: bold;
} 

button.link {
  color: white;
  background-color: #1e86ff;
}

/* -------- Search -------- */
#search-bar-container { 
  flex-grow: 1;
}

#search-bar {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  background-color: white;
  border: 1px solid #e7eaee;
  border-radius: 0.5rem;
}

#search-bar .icon {
  padding-left: 1rem;
  color: #9faabd;
}

#search-bar .icon > * {
  height: 20px;
}

#search-bar input[type=text] {
  line-height: 1.5;
  width: 100%;
  border: none;
  color: #a7b0bc;
  padding: 0.5rem;
}

#search-bar input[type=text]:focus {
  outline: none;
}

@media only screen and (max-width: 1175px) {
  #search-bar {
    width: 300px;
  }
}
/* -------- Search -------- */




/* -------- Page Panel -------- */

#panel-navigation {
  flex-grow: 1;
}

#panel-navigation ul {
  margin: 0;
  padding: 0;
}

#panel-navigation a {
  text-decoration: none;
}

#support,
#panel-navigation li {
  color: #99a5b9;
  padding: 0.75rem 0 0.75rem 0;
  display: flex;
  align-items: center;
}

#support.active,
#support:hover,
#panel-navigation li:hover,
#panel-navigation li.active {
  color: #1e86ff;
  background-color: #f4f9ff;
}
/* -------- Page Panel -------- */

/* -------- Page Content -------- */
.card {
  background-color: white;
  border: 1px solid #edeff3;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

#dashboard-filter {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#show-all-filters,
#filter-container {
  width: 100%;
  display: flex;
}

#show-all-filters {
  padding: 0 0 1rem 1rem;
  align-self: flex-end;
}

#show-all-filters .icon {
  color: #9faabd;
} 

#filter-container {
  flex-grow: 1;
}

#dashboard-filter .filter{
  flex: 1 0 24%;
  padding: 1rem 0 1rem 1rem;
}

#dashboard-filter .filter:last-child{
  padding: 1rem 1rem 1rem 1rem;
}

.filter > div > div {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 16px;
}

.filter div > input {
  font-size: 16px;
}

.filter .select-item {
  padding: 0.5rem;
  color: #555;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.filter .select-item > div {
  display: flex;
  align-items: center;
}

.filter .select-item input {
  margin-right: 10px;
}

.filter .select-item:hover {
  background-color: #f4f9ff;
  color: #1e86ff;
}

.actions,
.card.job {
  display: flex;
}

.job-data {
  display: flex;
  flex-grow: 1;
}

.actions {
  align-items: center;
  border-left: 1px solid #edeff3;
}

.actions button {
  display: flex;
  align-items: center;
}

.actions > a.primary {
  margin: 0 1rem 0 1rem;
}

.actions a.primary > button {
  background-color: #e8f2ff;
  color: #1e86ff;
}

.actions a.menu > button {
  margin-right: 1rem;
  background-color: white;
  border: 1px solid #edeff3;
  color: #8f9cb2;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem; 
}

.job-data {
  padding: 1rem;
}

.job-data > .data-column {
  flex: 1 0 33%; /* enforces 3 columns in job information */
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 960px) {
  .job-data > .data-column {
    text-align: center;
  }
  .job-data > .data-column.job-title {
    text-align: left;
  }
}

@media only screen and (max-width: 1175px) {
  .job-data > .data-column {
    flex: 0 0 25%;
    justify-content: center;
  }

  .job-data > .data-column.data-column.job-title {
    flex-grow: 1;
  }
}

.data-column.job-title {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.job-label {
  font-weight: bold;
  color: #303446;
}

.job-location {
  color: #bac2d0;
}

.data-column {
  color: #8f9cb2;
}

/* -------- Page Content -------- */