body {
  font-family: Helvetica;
}

#root, #dashboard-container {
  height: 100vh;
  width: 100%;
  background-color: #fafbfd;
}

header, main {
  width: 100%;
  display: flex;
}

header {
  background-color: white;
  border-bottom: 1px solid #edeff3;
}

#brand, #page-panel {
  flex-basis: 16rem;
}

#brand {
  border-right: 1px solid #edeff3;
}

#logo {
  color: #1e86ff;
  padding: 1rem 0 0 1rem;
}

ul { 
  list-style: none;
}

.icon,
.icon > *{
  height: 24px;
}

.link {
  width: fit-content;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e86ff;
  font-weight: bold;
}

button.link {
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: fit-content;
  color: white;
  background-color: #1e86ff;
  border: 0;
  border-radius: 4px;
}

#context-bar {
  flex-grow: 1;
  display: flex;
  padding: 1rem 0 1rem 0;
  margin: 0 0 1rem 0;
}

#search-bar, #user-navigation {
  flex-grow: 1;
}

#user-navigation {
  display: flex;
  flex-direction: row-reverse;
  
}

#user-navigation-links {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}

#user-navigation-links > * {
  margin: 0 0 0 1.5rem;
}

#user-navigation-links > *:first-child {
  margin: 0;
}

#search-bar > input[type=text] {
  line-height: 1.5;
  margin: 0 0 0 3rem;
  width: 450px;
  border: 1px solid #e7eaee;
  color: #a7b0bc;
  padding: 0.5rem;
  border-radius: 4px;
}

#page-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#context-bar > input[type=text]:focus {
  outline-color: #1e86ff;
}

#page-navigation > nav > ul { 
  display: flex;
  margin: 0 0 0 2rem;
  padding: 0;
}

#page-navigation > nav > ul > li {
  padding: 1rem 0 1rem 0;
  margin: 0 1rem 0 1rem;
  color: #7285a6;
  border-bottom: 2px solid transparent;
}

#page-navigation > nav > ul > li.active {
  border-color: #1e86ff;
  color: #303446;
  font-weight: bold;
}



/* -------------- PURELY TESTING FOR STRUCTURAL BUILDING PURPOSES -------------- */

/* -------------- PURELY TESTING FOR STRUCTURAL BUILDING PURPOSES -------------- */