body {
  font-family: Helvetica;
}

#root, #dashboard-container {
  height: 100vh;
  width: 100%;
  background-color: #fafbfd;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
}

header, main {
  width: 100%;
  display: flex;
}

main {
  flex-grow: 1;
}

header {
  background-color: white;
  border-bottom: 1px solid #edeff3;
}

ul { 
  list-style: none;
}

.icon,
.icon > *{
  height: 24px;
}

/* -------- Brand -------- */
#brand {
  min-width: 16rem;
  flex-basis: 16rem;
  display: flex;
  align-items: center;
}

#brand {
  border-right: 1px solid #edeff3;
}

#logo {
  color: #1e86ff;
  padding: 0 0 0 2rem;
  font-size: 40px;
  text-transform: uppercase;
}

#logo > .icon > * {
  height: 32px;
}
/* -------- Brand -------- */

/* -------- User Navigation -------- */
#context-bar {
  flex-grow: 1;
  display: flex;
  padding: 1rem 0 1rem 0;
}

#user-navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}
#user-navigation-links {
  display: flex;
  align-items: center;
  margin: 0 2rem 0 0;
}

#user-navigation-links > * {
  margin: 0 0 0 2rem;
}

#user-navigation-links .link {
  width: fit-content;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1e86ff;
  font-weight: bold;
}

#user-navigation-links button.link {
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: fit-content;
  color: white;
  background-color: #1e86ff;
  border: 0;
  border-radius: 4px;
}

#user-navigation-links > *:first-child {
  margin: 0;
}

#profile-icon {
  height: 2.5rem;
  border-radius: 2rem;
  border: 1px solid #edeff3;
}

#user-name {
  font-weight: bold;
  color: #213b61;
}

#profile-icon,
#user-name {
  margin-right: 0.5rem;
}

#user-profile {
  display: flex;
  align-items: center;
}

#user-profile > .icon {
  color: #9faabd;
} 
/* -------- User Navigation -------- */

/* -------- Search -------- */
#search-bar { 
  flex-grow: 1;
}
#search-bar > input[type=text] {
  line-height: 1.5;
  margin: 0 0 0 3rem;
  width: 400px;
  border: 1px solid #e7eaee;
  color: #a7b0bc;
  padding: 0.5rem;
  border-radius: 4px;
}

#search-bar > input[type=text]:focus {
  outline-color: #1e86ff;
}
/* -------- Search -------- */

/* -------- Page Navigation -------- */
#page-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#page-navigation > nav > ul { 
  display: flex;
  margin: 0 0 0 2rem;
  padding: 0;
}

#page-navigation > nav > ul > li {
  padding: 1rem 0 1rem 0;
  margin: 0 1rem 0 1rem;
  color: #7285a6;
  border-bottom: 2px solid transparent;
}

#page-navigation > nav > ul > li.active {
  border-color: #1e86ff;
  color: #444758;
  font-weight: bold;
}
/* -------- Page Navigation -------- */


/* -------- Page Panel -------- */

#page-panel {
  min-width: 16rem;
  flex-basis: 16rem;
  background-color: white;
  border-right: 1px solid #edeff3;
  display: flex;
  flex-direction: column;
}

#panel-navigation {
  flex-grow: 1;
}

#panel-navigation ul {
  margin: 0;
  padding: 0;
}

#support,
#panel-navigation li {
  color: #99a5b9;
  padding: 0.75rem 0 0.75rem 0;
  display: flex;
  align-items: center;
}

#page-panel .icon {
  padding: 0 0 0 2rem;
  margin: 0 0.25rem 0 0; 
}

#support.active,
#panel-navigation li.active {
  color: #1e86ff;
  background-color: #f4f9ff;
}
/* -------- Page Panel -------- */